.form-control,
.form-select {
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.form-select::placeholder {
  color: #6c757d;
  opacity: 1;
}
