body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #f8f9fa;
}

.btn-danger {
  margin-right: 20px;
}

.badge {
  margin-right: 10px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .btn-danger {
    margin-top: 10px;
    margin-right: 0;
  }

  .badge {
    margin-top: 10px;
  }
}
